body{
  background-color:#282C34;
  width : 100%;
  height: 100%
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.page{
  height: 750px;
  width: 100%;
  text-align: center;
}

.header{
  background-color: #72C5AE;
  position: relative;
  min-height: 8%;
  width: 100%;
  text-align: center;
  border: solid 2px;
  color: black;
  margin-top: -22px;
}

.questions{
  position: relative;
  width: 100%;
  min-height: 50%;
  vertical-align: center;
  font-size: 42px;
  background-color: #F2EDD6;
  color: black;
}

.buttons{
  background-color: #D61D1E;
  position: relative;
  min-height: 4%;
  text-align: center;
}

.score{
  min-height: 10%;
  background-color: #9CAA8C;
  border: solid 2px;
}
.footer{
  background-color: #72C5AE;
  position: relative;
  min-height: 10%;
  max-height:10%
  width: 100%;
  border: solid 2px;
  color: black;
  font-size: 32px;
  text-align: center;
}


/*.gamearea{
  position:relative;
  max-height: 60%;
  width: 100%;
  background-color: white;
  overflow: auto;
}
.gameboard{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #F2EDD6;
  text-align: center;
  overflow: auto;
}*/

/*.controls{
  border: solid 2px;
  position:fixed;
  color:black;
  top: 440px;
  width: 100%;
  height: 25%;
  background-color: #ADD31E;
  text-align: center;
}*/

.button{
  font-size: 24px;
}

#reset{
  font-size: 24px;
}

/*.info{
  position: relative;
  height:50%;
}*/


#startgame{
  font-size: 42px;
}


h1{
  font-size: 32px;
  text-align: center;
}

h2{
  text-align: center;
}

h4{
  margin: 0px;
}

span{
  position: absolute;
  top: 20 %;
  left: 50%;
  transform:translate(-50%);
}

img{
  max-height: 350px;
}

.picture{
  max-height: 100%;
}

.timer{
  background-color: #9CAA8C;
}
